html:has(.admin-layout-root) {
  font-size: 16px;
}

body:has(.admin-layout-root) {
  --radius: 0.625rem;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

body:has(.admin-layout-root) .site-main {
  margin-bottom: 0;
}
